
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

$theme-background: #2d2d48;
$theme-orange: #f58f44;
$theme-purple: #953091;

$theme-text-dark: #71717c;

$theme-gradient: linear-gradient(233deg, $theme-purple, $theme-orange);